<div class="container">
    <table class="table table-bordered table-striped">
    <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Lecturer</th>
    <th>Room</th>
    <th>Duration</th>
    </tr>

    <tr *ngFor="let u of this.course.CourseList; let i = index">
    <td>{{ u.id }}</td>
    <td>{{ u.name }}</td>
    <td>{{ u.lecturer }}</td>
    <td>{{ u.room }}</td>
    <td>{{ u.duration }}</td>
    </tr>
    </table>
</div>
 <div class="form-horizontal">
  <div class="form-group">
      <label for="inputISBN" class="col-sm-2 control-label">Name :</label>
      <div class="col-sm-10">
          <input type="text" class="form-control" [(ngModel)]="name" style="width:75%">
      </div>
  </div>
  <div class="form-group">
      <label for="inputISBN" class="col-sm-2 control-label">Lecturer :</label>
      <div class="col-sm-10">
          <input type="text" class="form-control" [(ngModel)]="lecturer" style="width:75%">
      </div>
  </div>
  <div class="form-group">
      <label for="inputISBN" class="col-sm-2 control-label">Room :</label>
      <div class="col-sm-10">
          <input type="text" class="form-control" [(ngModel)]="room" style="width:75%">
      </div>
  </div>
  <div class="form-group">
      <label for="inputISBN" class="col-sm-2 control-label">Duration :</label>
      <div class="col-sm-10">
          <input type="text" class="form-control" [(ngModel)]="duration" style="width:75%">
      </div>
  </div>
</div> 
<div class="container"><button class="btn-success" (click)="AddCourse()">Add Course</button></div>